a { @include CrimsonBold(); color: #fff; text-decoration: none; }
body,
html,
#page-wrapper,
#global-header { height: 100%; }
body { background: #313131; @include Crimson(); font-size: 13px; 
	::selection { background: #6fbbda; }
}

body,
#menu { min-height: 690px; }

$textcolor: #c2c2c2;

#page-wrapper { }

#menu { background: transparent url(../media/images/bkg_menu.png) repeat; height: 100%; left: 0; padding: 0px 10px; z-index: 2; position: absolute; width: 110px; 
	h1 { 
		a { @include btn(suny); margin: 20px auto 0;  }
	}
	
	#nav { text-align: right;
		a { @include CrimsonSemiBold(); display: block; font-size: 123%; color: #242424; margin-top: 25px; }
		li {
			li {
			 a { color: #777; font-size: 93%; margin-top: 15px; line-height: 130%; 
			 	&:hover { color: #242424; }
			 }
			}
		}
	}
	#back_to_menu { 
		a { background: transparent url(../media/images/bkg_menu.png) repeat; display: block; height: 80px; left: 160px; margin-top: -40px; top: 50%; position: absolute; text-align: left; text-indent: -9999px; width: 33px; }
	}
	#contact { float: right; width: 65px; }
	#email { @include btn(mail); float: left; }
	#linked_in { @include btn(linkedin); float: right; }
}

#main-content { color: $textcolor; height: 100%; overflow-y: hidden; width: 100%;
	#projects { height: 100%; overflow: hidden; padding: 0 0 0 155px; position: relative;
		li { height: 97%; float: left; padding-bottom: 3%; width: 1196px; }
		.images { height: 100%; float: left; margin: 20px 10px 0 0; padding-right: 15px; overflow: auto; width: 700px;
			li { height: auto; float: none; padding-bottom: 15px; width: auto; } 
			img { background: white; display: block; width: 100%; }
		}
		li:last-child .description { border-right: none; }
		.description { border-right: 1px solid #9f9f9f; height: 94%; float: left; margin: 3% 35px 0 0; padding-right: 35px; width: 400px; 
			a { @include CrimsonBold(); color: #fff; 
				&:hover { color: $textcolor; }
			}
			h2 { @include CrimsonSemiBold(); font-size: 153.9%; line-height: 130%; }
			h3 { display: inline-block; font-size: 93%; margin-bottom: 50px; text-transform: uppercase;
				span { display: inline-block; margin: 0 8px; }
				a { color: $textcolor; display: inline-block;
					span { @include btn(arrow); display: inline-block; position: relative; margin-left: 3px; top: 3px; }
					&:hover { color: #fff; 
						span { @include btn(arrow_hover); display: inline-block; }
					}
				}
			}
			p { font-size: 108%; line-height: 140%; margin-bottom: 15px; }
		}
	}
}

.about { min-height: 0px;
	#menu { min-height: 0px; }
	#main-content { height: auto; padding: 80px 0 0 155px; position: relative; width: 700px; }
	h2 { @include CrimsonBold(); font-size: 260%; letter-spacing: 1px; margin-bottom: 21px; }
	p { font-size: 126%; line-height: 160%; margin-bottom: 30px; }
}

