a { @include CrimsonBold(); color: #fff; text-decoration: none; }
body,
html,
#page-wrapper,
#global-header { height: 100%; }
body { background: #313131; @include Crimson(); font-size: 13px; height: 100%; /*overflow-x: auto; overflow-y: hidden;*/
	::selection { background: #6fbbda; }
}


/*body,
#menu { min-height: 640px; }
.ie7 body,
.ie7 #menu { min-height: 700px; }*/

$textcolor: #c2c2c2;

#page-wrapper { position: relative; }

#menu { background: transparent url(../media/images/bkg_menu.png) repeat; height: 100%; left: 0; overflow: scroll; overflow-x: hidden; padding: 0px 10px; position: fixed; width: 110px; z-index: 2;
	h1 { 
		a { @include btn(suny); margin: 20px auto 0;  }
	}
	
	#nav { height: 520px; text-align: right;
		a { @include CrimsonSemiBold(); display: block; font-size: 123%; color: #242424; margin-top: 20px; }
		li {
			li {
			 a { color: #777; font-size: 93%; margin-top: 12px; line-height: 130%; 
			 	&:hover { color: #242424; }
			 }
			}
		}
	}
	#back_to_menu { 
		a { background: transparent url(../media/images/bkg_menu.png) repeat; display: block; height: 80px; left: 160px; margin-top: -40px; top: 50%; position: absolute; text-align: left; text-indent: -9999px; width: 33px; }
	}
	#contact { float: right; width: 65px; }
	#email { @include btn(mail); float: left; }
	#linked_in { @include btn(linkedin); float: right; }
}

#main-content { color: $textcolor; height: 100%; /*overflow-y: hidden;*/ /*overflow-x: scroll;*/  position: absolute;/* width: 100%;*/
	#projects { height: 100%; overflow: hidden; padding: 0 0 0 155px; position: relative;
		.ie8 { overflow: visible; }
		li { height: 97%; float: left; padding-bottom: 3%; width: 1196px; }
		.images { height: 100%; float: left; margin: 20px 10px 0 0; padding-right: 15px; overflow: auto; overflow-x: hidden; width: 700px;
			li { height: auto; float: none; padding-bottom: 15px; width: auto; } 
			img { background: white; display: block; width: 100%; }
		}
		li:last-child .description { border-right: none; }
		.description { border-right: 1px dotted #9f9f9f; height: 94%; float: left; margin: 3% 35px 0 0; padding-right: 35px; width: 400px; 
			a { @include CrimsonBold(); color: #fff; 
				&:hover { color: $textcolor; }
			}
			h2 { @include CrimsonSemiBold(); font-size: 153.9%; line-height: 130%; }
			h3 { display: inline-block; font-size: 93%; margin-bottom: 50px; text-transform: uppercase;
				span { display: inline-block; margin: 0 8px; }
				a { color: $textcolor; display: inline-block;
					span { @include btn(arrow); display: inline-block; position: relative; margin-left: 3px; top: 3px; }
					&:hover { color: #fff; 
						span { @include btn(arrow_hover); display: inline-block; }
					}
				}
			}
			p { font-size: 108%; line-height: 140%; margin-bottom: 15px; }
		}
	}
}

.about { min-height: 0px;
	#menu { overflow: hidden;
		#nav { height: auto; }
	}
	#main-content { height: auto; overflow: hidden; padding: 0 0 0 155px; width: 700px; }
	h2 { @include CrimsonBold(); font-size: 260%; letter-spacing: 1px; margin-bottom: 21px; padding-top: 80px; }
	p { font-size: 126%; line-height: 160%; margin-bottom: 30px; }
}


/*---MOBILE---*/
.mobile,
.mobile #page-wrapper,
.mobile #global-header,
.mobile #menu { height: auto; min-height: 0px; }
.mobile {
	#menu { height: 50px; padding: 0px; position: fixed; width: 100%;
		h1 a { background: url(../media/images/mobile/logo.png) no-repeat; height: 43px; float: left; margin: 8px 0 0 10px; width: 40px; 
			-webkit-background-size: 100% auto;
				 -moz-background-size: 100% auto;
							background-size: 100% auto;
		}
		#nav { text-align: left; 
			a { font-size: 108%; float: left; margin: 15px 10px 0; }
		}
		#contact { float: none; width: auto;
			a { margin-top: 18px; width: 20px; }
			#email { background: url(../media/images/mobile/mail.png) no-repeat; margin-right: 20px;
				-webkit-background-size: 100% auto;  
				-moz-background-size: 100% auto;  
				background-size: 100% auto;  
			}
			#linked_in { background: url(../media/images/mobile/linkedin.png) no-repeat; margin-left: 0; margin-right: 0;
				-webkit-background-size: 100% auto;  
				-moz-background-size: 100% auto;  
				background-size: 100% auto;  
			}
		}
	}
	#main-content { display: block; margin: 0 auto; position: relative; width: 90%; 
		#projects { height: auto;  padding: 80px 0 0;
			li { height: auto; float: none; width: 100%;
				img { display: block; width: 100%; }
				.description { border-right: none; border-bottom: 1px dotted #9f9f9f; float: none; height: auto; margin: 3% auto 6%; padding: 0 0 6%; width: auto; 
					h2,
					h3 { margin-bottom: 10px; 
						a {
							span { background: url(../media/images/mobile/arrow.png); 
								-webkit-background-size: 100% auto;
								-moz-background-size: 100% auto;
								background-size: 100% auto;
							}
						}
					}
				}
			}
			li:last-child {
				.description { border: none; }
			}
		}
	}
}

.mobile.about {
	#main-content { padding: 0;
		
	}
}
