@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,600italic,700,400italic,600);
.ir, #menu h1 a, #menu #email, #menu #linked_in, #main-content #projects .description h3 a span, #main-content #projects .description h3 a:hover span { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; border: 0; }

.hidden { display: none; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }

.clearfix:after { clear: both; }

.clearfix { zoom: 1; }

.truncate { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.buttons-sprite, #menu h1 a, #menu #email, #menu #linked_in, #main-content #projects .description h3 a span, #main-content #projects .description h3 a:hover span { background-image: url('../media/images/buttons-s6135f91a85.png'); background-repeat: no-repeat; }

/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* CSS Styles that are needed by jScrollPane for it to operate correctly.  Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane may not operate correctly without them. */
.jspContainer { overflow: hidden; position: relative; }

.jspPane { height: 100%; position: absolute; }

.jspVerticalBar { position: absolute; top: 0; right: 3px; width: 2px; height: 100%; background: red; }

.jspHorizontalBar { position: absolute; bottom: 0; left: 0; width: 100%; height: 4px; background: red; z-index: 999; }

.jspCap { display: none; }

.jspHorizontalBar .jspCap { float: left; }

.jspTrack { position: relative; }

.jspDrag { background: #ccc; position: relative; top: 0; left: 50%; width: 5px; cursor: pointer; margin-left: -2px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-transition: width 0.3s ease-out, background 0.3s ease-out, margin 0.3s ease-out; -o-transition: width 0.3s ease-out, background 0.3s ease-out, margin 0.3s ease-out; -webkit-transition: width 0.3s ease-out, background 0.3s ease-out, margin 0.3s ease-out; transition: width 0.3s ease-out, background 0.3s ease-out, margin 0.3s ease-out; }
.jspDrag.jspHover, .jspDrag.jspActive { background: #f2f2f2; width: 7px; margin-left: -3px; }

.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag { float: left; height: 100%; left: 0; }

.jspHorizontalBar .jspDrag { height: 10px; margin-top: -5px; }

.jspArrow { background: #50506d; text-indent: -20000px; display: block; cursor: pointer; padding: 0; margin: 0; }

.jspArrow.jspDisabled { cursor: default; background: #80808d; }

.jspVerticalBar .jspArrow { height: 16px; }

.jspHorizontalBar .jspArrow { width: 16px; float: left; height: 100%; }

.jspVerticalBar .jspArrow:focus { outline: none; }

.jspCorner { background: #eeeef4; float: left; height: 100%; }

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner { margin: 0 -3px 0 0; }

a { font-family: 'Crimson Text', serif; font-weight: 700; color: #fff; text-decoration: none; }

body, html, #page-wrapper, #global-header { height: 100%; }

body { background: #313131; font-family: 'Crimson Text', serif; font-weight: 400; font-size: 13px; height: 100%; /*overflow-x: auto; overflow-y: hidden;*/ }
body ::selection { background: #6fbbda; }

/*body,
#menu { min-height: 640px; }
.ie7 body,
.ie7 #menu { min-height: 700px; }*/
#page-wrapper { /*overflow: hidden;*/ position: relative; }

#menu { background: #ccc; background: rgba(255, 255, 255, 0.8); height: 100%; left: 0; overflow-x: hidden; padding: 0px 10px; position: fixed; width: 110px; z-index: 2; }
#menu h1 a { background-position: 0 -108px; width: 110px; height: 95px; cursor: pointer; margin: 20px auto 0; }
#menu #nav { height: 520px; text-align: right; }
#menu #nav a { font-family: 'Crimson Text', serif; font-weight: 600; display: block; font-size: 123%; color: #242424; margin-top: 20px; }
#menu #nav li li a { color: #777; font-size: 93%; margin-top: 12px; line-height: 130%; }
#menu #nav li li a:hover { color: #242424; }
#menu #back_to_menu a { background: transparent url(../media/images/bkg_menu.png) repeat; display: block; height: 80px; left: 160px; margin-top: -40px; top: 50%; position: absolute; text-align: left; text-indent: -9999px; width: 33px; }
#menu #contact { float: right; width: 65px; }
#menu #email { background-position: 0 -68px; width: 26px; height: 20px; cursor: pointer; float: left; }
#menu #email:hover, #menu #email.mail-hover { background-position: 0 -88px; }
#menu #linked_in { background-position: 0 -28px; width: 26px; height: 20px; cursor: pointer; float: right; }
#menu #linked_in:hover, #menu #linked_in.linkedin-hover { background-position: 0 -48px; }

#main-content { color: #c2c2c2; height: 100%; overflow: hidden; position: absolute; }
#main-content #projects { height: 100%; overflow: hidden; padding: 0 0 0 155px; position: relative; }
#main-content #projects .jspPane { height: auto; }
#main-content #projects .ie8 { overflow: visible; }
#main-content #projects li { height: 97%; float: left; padding-bottom: 3%; width: 1196px; }
#main-content #projects .images { height: 100%; float: left; margin: 20px 10px 0 0; padding-right: 15px; overflow: auto; overflow-x: hidden; width: 700px; }
#main-content #projects .images li { height: auto; float: none; padding-bottom: 15px; width: auto; }
#main-content #projects .images img { background: #313131; display: block; width: 100%; }
#main-content #projects li:last-child .description { border-right: none; }
#main-content #projects .description { border-right: 1px dotted #9f9f9f; height: 100%; float: left; margin: 0 35px 0 0; padding: 3% 35px 0 0; width: 400px; }
#main-content #projects .description a { font-family: 'Crimson Text', serif; font-weight: 700; color: #fff; }
#main-content #projects .description a:hover { color: #c2c2c2; }
#main-content #projects .description h2 { font-family: 'Crimson Text', serif; font-weight: 600; font-size: 153.9%; line-height: 130%; }
#main-content #projects .description h3 { display: inline-block; font-size: 93%; margin-bottom: 50px; text-transform: uppercase; }
#main-content #projects .description h3 span { display: inline-block; margin: 0 8px; }
#main-content #projects .description h3 a { color: #c2c2c2; display: inline-block; }
#main-content #projects .description h3 a span { background-position: 0 0; width: 24px; height: 14px; cursor: pointer; display: inline-block; position: relative; margin-left: 3px; top: 3px; }
#main-content #projects .description h3 a span:hover, #main-content #projects .description h3 a span.arrow-hover { background-position: 0 -14px; }
#main-content #projects .description h3 a:hover { color: #fff; }
#main-content #projects .description h3 a:hover span { background-position: 0 -14px; width: 24px; height: 14px; cursor: pointer; display: inline-block; }
#main-content #projects .description p { font-size: 108%; line-height: 140%; margin-bottom: 15px; }

.about { min-height: 0px; }
.about #menu { overflow: hidden; }
.about #menu #nav { height: auto; }
.about #main-content { height: auto; overflow: hidden; padding: 0 0 0 155px; width: 700px; }
.about h2 { font-family: 'Crimson Text', serif; font-weight: 700; font-size: 260%; letter-spacing: 1px; margin-bottom: 21px; padding-top: 80px; }
.about p { font-size: 126%; line-height: 160%; margin-bottom: 30px; }

/*---MOBILE---*/
.mobile, .mobile #page-wrapper, .mobile #global-header, .mobile #menu { height: auto; min-height: 0px; }

.mobile #menu { height: 50px; padding: 0px; position: fixed; width: 100%; }
.mobile #menu h1 a { background: url(../media/images/mobile/logo.png) no-repeat; height: 43px; float: left; margin: 8px 0 0 10px; width: 40px; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; background-size: 100% auto; }
.mobile #menu #nav { text-align: left; }
.mobile #menu #nav a { font-size: 108%; float: left; margin: 15px 10px 0; }
.mobile #menu #contact { float: none; width: auto; }
.mobile #menu #contact a { margin-top: 18px; width: 20px; }
.mobile #menu #contact #email { background: url(../media/images/mobile/mail.png) no-repeat; margin-right: 20px; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; background-size: 100% auto; }
.mobile #menu #contact #linked_in { background: url(../media/images/mobile/linkedin.png) no-repeat; margin-left: 0; margin-right: 0; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; background-size: 100% auto; }
.mobile #main-content { display: block; margin: 0 auto; position: relative; width: 90%; }
.mobile #main-content #projects { height: auto; padding: 80px 0 0; }
.mobile #main-content #projects li { height: auto; float: none; width: 100%; }
.mobile #main-content #projects li img { display: block; width: 100%; }
.mobile #main-content #projects li .description { border-right: none; border-bottom: 1px dotted #9f9f9f; float: none; height: auto; margin: 3% auto 6%; padding: 0 0 6%; width: auto; }
.mobile #main-content #projects li .description h2, .mobile #main-content #projects li .description h3 { margin-bottom: 10px; }
.mobile #main-content #projects li .description h2 a span, .mobile #main-content #projects li .description h3 a span { background: url(../media/images/mobile/arrow.png); -webkit-background-size: 100% auto; -moz-background-size: 100% auto; background-size: 100% auto; }
.mobile #main-content #projects li:last-child .description { border: none; }

.mobile.about #main-content { padding: 0; }

.overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.75); z-index: 998; }

.modal { position: fixed; top: 50%; left: 50%; margin: -250px 0 0 -327px; width: 616px; padding: 19px; background: #fff; z-index: 999; -moz-box-shadow: 0 0 10px #000; -webkit-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000; }
.modal .close { position: absolute; top: 5px; right: 5px; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { /* Styles */ }
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) { /* Styles */ }
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) { /* Styles */ }
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { /* Styles */ }
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) { /* Styles */ }
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) { /* Styles */ }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) { /* Styles */ }
/* Large screens ----------- */
@media only screen and (min-width: 1824px) { /* Styles */ }
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) { /* Styles */ }
@media print { * { background: transparent !important; color: black !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, #menu h1 a a:after, #menu #email a:after, #menu #linked_in a:after, #main-content #projects .description h3 a span a:after, #main-content #projects .description h3 a:hover span a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
